<h5 class="text-center m-3" style="font-weight: 400;">Preporučite knjigu "{{ book.title }}" nekome...</h5>
<div class='container mt-4 text-center' style="max-width: 400px">
    <form action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Korisničko ime" [(ngModel)]='username' name="username">
        </div>
        <input type="submit" class="btn btn-primary" value="PREPORUČI" (click)='recommend()'>
    </form>
</div>
<div class="text-center text-danger mt-2">
    <p>{{ msg }}</p>
</div>
<div class="text-center text-success mt-2">
    <p>{{ successMsg }}</p>
</div>